html {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow: hidden;
    margin: 0;
}

.go-on-top {
	z-index: 10;
}


.header {
	position: absolute;
	/*top: 8vh;*/
	/*left: 0;*/
	padding-top: 1.5em;
	padding-left: 3em;
	width: 100%;
	/*text-align: center;*/
	pointer-events: none;
}

.header h1 {
	font-family: 'Playfair Display';
	font-size: 3.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: -0.025em;
	color: #DCAE4B;
}

.header h1 span {
	font-size: 0.2em;
	font-style: italic;
	display: block;
	margin: 0 0 -1.5em -7em;
	letter-spacing: 0px;
}

.header h2 {
	font-size: 0.685em;
	margin: 0.25em 0;
	white-space: nowrap;
	text-indent: 1em;
	letter-spacing: 1em;
	text-transform: uppercase;
	color: #d6483b;
}

.score {
	width: 100%;
	margin: 2em 0 0;
	white-space: nowrap;
}

.score__content {
	position: relative;
	display: inline-block;
	padding: 0 1em;
	vertical-align: top;
}

.score__content:nth-child(2) {
	border-right: 1px solid #d1b790;
	border-left: 1px solid #d1b790;
}

.score__label {
	font-size: 9px;
	position: relative;
	margin: 0 0 0.5em 0;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #e0552f;
}

.score__value {
	font-family: 'Playfair Display';
	font-weight: bold;
	color: #e0552f;
}

.score__value--level {
	font-size: 26px;
}

.score__value--score {
	font-size: 30px;
}



.score__value--energy {
	position: relative;
	width: 60px;
	height: 8px;
	margin-top: 20px;
	border-radius: 3px;
	background-color: #d1b790;
}

#blocker { 
	position: fixed; 
	
	width: 100%;
	
	padding: 10%;

	top: 45%; 
	left: 50%; 
	transform: translate(-50%, -50%);

	background-color: #f7d9aa55;

	text-align: center;

	color: #d6483b;
	cursor: pointer;
}

.intro {
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: #f7d9aa;
}

.intro.fade {
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -ms-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
  background-color: transparent;
}




.message {
	font-weight: bold;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
}




.message--winOrLose {
	font-size: 3.25vw;
	bottom: 60vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #f45a22;
}

.message--replay {
	font-size: 3.25vw;
	bottom: 30vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #ed9c47;
}

.message--instructions {
	font-family: 'Playfair Display';
	font-size: 0.85em;
	bottom: 8vh;
	letter-spacing: 0.2em;
	color: #1fa0b7;
}

.message--instructions span {
	display: block;
	color: #d6483b;
	white-space: nowrap;
}

@-webkit-keyframes blinking {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes blinking {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@media screen and (max-width: 40em) {
	.header {
		font-size: 0.75em;
		top: 6.5em;
	}
	.header h2 {
		letter-spacing: 0.65em;
	}
}
